In [23]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.25.11)

In [3]:
import selenium
import pandas as pd
import numpy as np
import requests
import time
import re
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException
import warnings
warnings.filterwarnings('ignore')
import re

### 1. Scrapping the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

1) Rank

2) Name

3) Artist

4) Upload date

5) Views

In [25]:
driver = webdriver.Chrome("chromedriver.exe")

In [26]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [27]:
Rank=[]
Name=[] 
Artist=[]
Upload_date=[]
Views=[]

In [28]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in dt:
    if d.text is None :
        Rank.append('-')
    else:
        Rank.append(d.text)

In [29]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [30]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Artist.append('-')
    else:
        Artist.append(d.text)

In [31]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Upload_date.append('-')
    else:
        Upload_date.append(d.text)

In [32]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Views.append('-')
    else:
        Views.append(d.text)

In [33]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank[:30]
table['Name']=Name[:30]
table['Artist']=Artist[:30]
table['Upload Date']=Upload_date[:30]
table['Views']=Views[:30]

table

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.93
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.68
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.07
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.57
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.37
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.81
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.41
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.38
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.29
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.78
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.62
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.47
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.45
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.21
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.20
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.15
22,23.,"""Bailando""[40]",Enrique Iglesias,"April 11, 2014",3.14
23,24.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.14
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.05
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.03
28,29.,"""Mi Gente""[46]",J Balvin,"June 29, 2017",3.02
29,30.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.02

### 2. Scrapping the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

1) Match title (I.e. 1st ODI)

2) Series

3) Place

4) Date

5) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [27]:
# Opening the bcci.tv
url =  'https://www.bcci.tv/'
# Activating the chrome browser
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)
driver.maximize_window()

In [28]:
dropdown_enter = driver.find_element_by_xpath('//a[@class="nav-link  "]')
dropdown_enter.click()

In [29]:
# make empty lists
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [30]:
dt = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')
for d in dt:
    Match_title.append(d.text)

In [31]:
dt = driver.find_elements_by_xpath('//span[@class="ng-binding"]')
for d in dt:
    Series.append(d.text)

In [32]:
dt = driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]')
for d in dt:
    Place.append(d.text)

In [33]:
dt = driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]')
for d in dt:
    Time.append(d.text)

In [34]:
dt = driver.find_elements_by_xpath('//h5[@class="ng-binding"]')
for d in dt:
    Date.append(d.text)

In [35]:
import pandas as pd
table=pd.DataFrame({})

table['Match Title']=Match_title
table['Series']=Series
table['Place']=Place
table['Date']=Date
table['Time']=Time
table

,Match Title,Series,Place,Date,Time
0,"2nd Test - The Wanderers Stadium, Johannesburg",INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"The Wanderers Stadium,",3 JAN 2022,1:30 PM IST
1,"3rd Test - Newlands, Cape Town",INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"Newlands,",11 JAN 2022,2:00 PM IST
2,"1st ODI - Boland Park, Paarl",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park,",19 JAN 2022,2:00 PM IST
3,"2nd ODI - Boland Park, Paarl",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park,",21 JAN 2022,2:00 PM IST
4,"3rd ODI - Newlands, Cape Town",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Newlands,",23 JAN 2022,2:00 PM IST

### 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [8]:
#connecting the web driver.
driver = webdriver.Chrome("chromedriver.exe")

In [9]:
driver.get('https://www.guru99.com/')

In [10]:
#finding the Selenium button and clicking it
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [11]:
#finding the Selenium Exception Handling button and clicking it
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [12]:
#creating the empty list
Name=[]
Description=[]

In [13]:
#code to scrape the Exception Name
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in dt:
    Name.append(d.text)

In [14]:
#code to scrape the Description
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in dt:
    Description.append(d.text)

In [15]:
#creating the Data Frame
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name[1:50]
table['Description']=Description[1:50]

# Data Frame
table

,Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [61]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the statisticstimes.com
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

#clicking on economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)


#clicking on gdp of indian states
indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 
time.sleep(2)


#scraping rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    rank.append('No details available')
time.sleep(2)


#scraping States
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    State.append('No details available')
time.sleep(2)


#scraping GSDP(19-20)
GSDP_20=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:           #handling no such element exception
    GSDP_20.append('No details available')
time.sleep(2)    
    
#scraping GSDP(18-19)
GSDP_19=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:        #handling no such element exception
    GSDP_19.append('No details available')
time.sleep(2)

#scraping share (18-19)
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:          #handling no such element exception
    share.append('No details available')
time.sleep(2)

#scraping GDP(billion$)
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:            #handling no such element exception
    GDP_billion.append('No details available')
time.sleep(2)

#creatng dataframe
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(19-20)':GSDP_20,
                'GSDP(18-19)':GSDP_19,
                'Share(18-19)':share,
                'GDP(Billion_$)':GDP_billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used Note: - From the home page you have to click on the trending option from Explore menu through code.

In [52]:
#connecting the web driver.
driver=webdriver.Chrome(r'chromedriver.exe')

In [53]:
#connecting the website.
driver.get('https://github.com/trending')

In [54]:
#creating empty list
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [55]:
#creating repository title list
repository=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
for i in repository:
    try:
        Repository_title.append(i.text)
    except:
        Repository_title.append("-")

In [56]:
#creating repository description list
repo_desc=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
for i in repo_desc:
    try:
        Repository_description.append(i.text)
    except:
        Repository_description.appens("-")

In [57]:
#creating repository contributor list
contributor=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]")
for i in contributor:
    try:
        Contributors_count.append(i.text)
    except:
        Contributors_count.append("-")

In [58]:
#creating repository language list
lang=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in lang:
    try:
        Language_used.append(i.text)
    except:
        Language_used.append("-")

In [60]:
#creating a data frame
Trending_repositories=pd.DataFrame([])
Trending_repositories["Repository_title"]=Repository_title[0:20]
Trending_repositories["Repository_description"]=Repository_description[0:20]
Trending_repositories["Contributors_count"]=Contributors_count[0:20]

In [61]:
#data frame
Trending_repositories

,Repository_title,Repository_description,Contributors_count
0,apache / incubator-seatunnel,"SeaTunnel is a distributed, high-performance d...",166
1,dwmkerr / hacker-laws,"Laws, Theories, Principles and Patterns that d...","1,213"
2,sindresorhus / awesome,Awesome lists about all kinds of interesting t...,"22,482"
3,surge-synthesizer / monique-monosynth,Monique monosynth,13
4,deepklarity / jupyter-text2code,A proof-of-concept jupyter extension which con...,332
5,dariubs / GoBooks,List of Golang books,"1,576"
6,inancgumus / learngo,"1000+ Hand-Crafted Go Examples, Exercises, and...","1,577"
7,GitHubDaily / GitHubDaily,GitHubDaily 分享内容定期整理与分类。欢迎推荐、自荐项目，让更多人知道你的项目。,"1,336"
8,LSPosed / MagiskOnWSA,Integrate Magisk root and Google Apps (OpenGAp...,"27,192"
9,starship / starship,"The minimal, blazing-fast, and infinitely cust...",876
10,adrianhajdin / project_web3.0,Web 3.0 React Solidity Blockchain Application,97
11,clap-rs / clap,"A full featured, fast Command Line Argument Pa...",671
12,github / opensource.guide,Community guides for open source creators,"13,044"
13,vandadnp / flutter-tips-and-tricks,A Collection of Flutter and Dart Tips and Tricks,332
14,lucidrains / vit-pytorch,"Implementation of Vision Transformer, a simple...","1,188"
15,coolsnowwolf / lede,Lean's OpenWrt source,"15,941"
16,ccrisan / motioneyeos,A Video Surveillance OS For Single-board Compu...,734
17,kivy / kivy,"Open source UI framework written in Python, ru...","2,826"
18,betaflight / betaflight,Open Source Flight Controller Firmware,"2,160"
19,Koenkk / zigbee2mqtt,"Zigbee to MQTT bridge , get rid of your propri...","1,177"

### 6. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [76]:
#connecting the web driver.
driver = webdriver.Chrome('chromedriver.exe')

In [77]:
#connecting the website.
url=driver.get('https://www.billboard.com/')

In [78]:
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException
#clicking the Charts button
charts=driver.find_element_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-a-unstyle-link lrv-u-color-brand-accent-blue:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-lightest ']")
charts.click()
time.sleep(2)

#clicking the HOT 100 button
hot100=driver.find_element_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark']")
hot100.click()

In [79]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [80]:
dt = driver.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
for d in dt:
    if d.text is None :
        Song_name.append('-')
    else:
        Song_name.append(d.text)
        
dt = driver.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for d in dt:
    if d.text is None :
        Song_name.append('-')
    else:
        Song_name.append(d.text)

In [81]:
dt = driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for d in dt:
    if d.text is None :
        Artist_name.append('-')
    else:
        Artist_name.append(d.text)
        
dt = driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for d in dt:
    if d.text is None :
        Artist_name.append('-')
    else:
        Artist_name.append(d.text)

In [82]:
dt = driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
for d in dt:
    if d.text is None :
        Last_week_rank.append('-')
    else:
        Last_week_rank.append(d.text)
        
dt = driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for d in dt:
    if d.text is None :
        Last_week_rank.append('-')
    else:
        Last_week_rank.append(d.text)

In [83]:
Last_week_rank

['1',
 '1',
 '50',
 '',
 '',
 '',
 '2',
 '2',
 '44',
 '',
 '',
 '',
 '4',
 '3',
 '41',
 '',
 '',
 '',
 '5',
 '4',
 '25',
 '',
 '',
 '',
 '3',
 '1',
 '11',
 '',
 '',
 '',
 '7',
 '5',
 '26',
 '',
 '',
 '',
 '9',
 '7',
 '24',
 '',
 '',
 '',
 '11',
 '6',
 '19',
 '',
 '',
 '',
 '6',
 '1',
 '24',
 '',
 '',
 '',
 '13',
 '10',
 '15',
 '',
 '',
 '',
 '15',
 '11',
 '31',
 '',
 '',
 '',
 '17',
 '8',
 '18',
 '',
 '',
 '',
 '18',
 '12',
 '14',
 '',
 '',
 '',
 '-',
 '14',
 '1',
 '',
 '',
 '',
 '8',
 '7',
 '49',
 '',
 '',
 '',
 '25',
 '16',
 '11',
 '',
 '',
 '',
 '19',
 '12',
 '11',
 '',
 '',
 '',
 '24',
 '17',
 '12',
 '',
 '',
 '',
 '21',
 '16',
 '16',
 '',
 '',
 '',
 '22',
 '18',
 '12',
 '',
 '',
 '',
 '27',
 '12',
 '24',
 '',
 '',
 '',
 '10',
 '1',
 '22',
 '',
 '',
 '',
 '12',
 '5',
 '15',
 '',
 '',
 '',
 '14',
 '8',
 '28',
 '',
 '',
 '',
 '32',
 '10',
 '13',
 '',
 '',
 '',
 '20',
 '20',
 '7',
 '',
 '',
 '',
 '16',
 '15',
 '5',
 '',
 '',
 '',
 '28',
 '22',
 '11',
 '',
 '',
 '',
 '23',
 '11',
 '16',
 '',
 '',
 '',
 '36',
 '20',
 '9',
 '',
 '',
 '',
 '26',
 '2',
 '26',
 '',
 '',
 '',
 '30',
 '5',
 '7',
 '',
 '',
 '',
 '-',
 '33',
 '3',
 '',
 '',
 '',
 '44',
 '32',
 '4',
 '',
 '',
 '',
 '50',
 '35',
 '2',
 '',
 '',
 '',
 '41',
 '28',
 '6',
 '',
 '',
 '',
 '-',
 '37',
 '1',
 '',
 '',
 '',
 '33',
 '1',
 '32',
 '',
 '',
 '',
 '37',
 '32',
 '13',
 '',
 '',
 '',
 '-',
 '18',
 '10',
 '',
 '',
 '',
 '-',
 '41',
 '2',
 '',
 '',
 '',
 '31',
 '7',
 '3',
 '',
 '',
 '',
 '-',
 '43',
 '2',
 '',
 '',
 '',
 '49',
 '11',
 '12',
 '',
 '',
 '',
 '35',
 '3',
 '27',
 '',
 '',
 '',
 '-',
 '43',
 '3',
 '',
 '',
 '',
 '-',
 '47',
 '2',
 '',
 '',
 '',
 '-',
 '48',
 '1',
 '',
 '',
 '',
 '45',
 '10',
 '14',
 '',
 '',
 '',
 '38',
 '6',
 '7',
 '',
 '',
 '',
 '43',
 '11',
 '21',
 '',
 '',
 '',
 '47',
 '31',
 '14',
 '',
 '',
 '',
 '48',
 '4',
 '16',
 '',
 '',
 '',
 '52',
 '30',
 '19',
 '',
 '',
 '',
 '66',
 '55',
 '3',
 '',
 '',
 '',
 '53',
 '29',
 '10',
 '',
 '',
 '',
 '51',
 '5',
 '5',
 '',
 '',
 '',
 '46',
 '1',
 '16',
 '',
 '',
 '',
 '57',
 '30',
 '20',
 '',
 '',
 '',
 '58',
 '21',
 '15',
 '',
 '',
 '',
 '61',
 '39',
 '25',
 '',
 '',
 '',
 '81',
 '62',
 '4',
 '',
 '',
 '',
 '79',
 '63',
 '4',
 '',
 '',
 '',
 '65',
 '61',
 '12',
 '',
 '',
 '',
 '60',
 '2',
 '16',
 '',
 '',
 '',
 '67',
 '32',
 '23',
 '',
 '',
 '',
 '62',
 '17',
 '11',
 '',
 '',
 '',
 '59',
 '1',
 '6',
 '',
 '',
 '',
 '71',
 '69',
 '9',
 '',
 '',
 '',
 '68',
 '68',
 '5',
 '',
 '',
 '',
 '83',
 '71',
 '3',
 '',
 '',
 '',
 '73',
 '53',
 '13',
 '',
 '',
 '',
 '77',
 '59',
 '13',
 '',
 '',
 '',
 '34',
 '34',
 '2',
 '',
 '',
 '',
 '70',
 '28',
 '15',
 '',
 '',
 '',
 '78',
 '62',
 '21',
 '',
 '',
 '',
 '-',
 '77',
 '1',
 '',
 '',
 '',
 '69',
 '58',
 '4',
 '',
 '',
 '',
 '-',
 '79',
 '1',
 '',
 '',
 '',
 '91',
 '80',
 '12',
 '',
 '',
 '',
 '-',
 '81',
 '3',
 '',
 '',
 '',
 '88',
 '65',
 '11',
 '',
 '',
 '',
 '85',
 '83',
 '4',
 '',
 '',
 '',
 '74',
 '1',
 '13',
 '',
 '',
 '',
 '-',
 '85',
 '1',
 '',
 '',
 '',
 '95',
 '76',
 '11',
 '',
 '',
 '',
 '55',
 '49',
 '3',
 '',
 '',
 '',
 '54',
 '20',
 '5',
 '',
 '',
 '',
 '90',
 '68',
 '11',
 '',
 '',
 '',
 '94',
 '87',
 '5',
 '',
 '',
 '',
 '-',
 '91',
 '1',
 '',
 '',
 '',
 '99',
 '89',
 '5',
 '',
 '',
 '',
 '89',
 '45',
 '6',
 '',
 '',
 '',
 '92',
 '48',
 '14',
 '',
 '',
 '',
 '-',
 '95',
 '1',
 '',
 '',
 '',
 '100',
 '20',
 '10',
 '',
 '',
 '',
 '-',
 '97',
 '1',
 '',
 '',
 '',
 '96',
 '13',
 '7',
 '',
 '',
 '',
 '84',
 '57',
 '19',
 '',
 '',
 '',
 '93',
 '18',
 '17',
 '',
 '',
 '']

In [84]:
Weeks_on_board = Last_week_rank[2::6]
Peak_rank = Last_week_rank[1::6]
Last_week_rank = Last_week_rank[0::6]

In [85]:
import pandas as pd
table=pd.DataFrame({})

table['Song Name']=Song_name
table['Artist Name']=Artist_name
table['Last Week Rank']=Last_week_rank
table['Peak Rank']=Peak_rank
table['Weeks On Board']=Weeks_on_board

In [86]:
table

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,50
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,44
2,Jingle Bell Rock,Bobby Helms,4,3,41
3,A Holly Jolly Christmas,Burl Ives,5,4,25
4,Easy On Me,Adele,3,1,11
...,...,...,...,...,...
95,Bubbly,Young Thug With Drake & Travis Scott,100,20,10
96,Do It To It,Acraze Featuring Cherish,-,97,1
97,No Love,Summer Walker & SZA,96,13,7
98,Knowing You,Kenny Chesney,84,57,19
99,Family Ties,Baby Keem & Kendrick Lamar,93,18,17

### 7. To Scrape the details of Data scientist recruiters from naukri.com.

In [87]:
from selenium.common.exceptions import NoSuchElementException

In [88]:
#connecting the web driver.
driver=webdriver.Chrome(r'chromedriver.exe')

In [89]:
#connecting the website.
driver.get('https://www.naukri.com/')
time.sleep(2)

In [90]:
#clicking the recruiters button
recruiter_link=driver.find_element_by_xpath("//*[@id='root']/div[1]/div/ul[1]/li[2]/a")
driver.get(recruiter_link.get_attribute('href'))
time.sleep(3)

In [91]:
driver.current_url

'https://www.naukri.com/hr-recruiters-consultants'

In [92]:
#element of Search tab and seARCH button
input_tab = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search_btn = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')

In [93]:
#sending keys to the Search Tab
input_tab.send_keys('Data Science')

In [94]:
#click the  search element
search_btn.click()

In [95]:
#extracting the link elements of the recruitors
recruiter_name = driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]")

In [96]:
#Links of all the companies
all_recruitment_links = []
for i in recruiter_name:
    all_recruitment_links.append(i.get_attribute('href'))

In [97]:
re_names= []
re_company = []
re_location = []
re_skills = []
re_designation = []

In [98]:
#lopping through each company to extract data of each company seperately.
for i in range(50):
    driver.get(all_recruitment_links[i])
   
    
    #Recruiter Name
    try:
        name_element = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[2]/h1')
        re_names.append(name_element.text)
    except NoSuchElementException:
        re_names.append('-')
        
    #Company NAme
    try:
        company_element = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div[2]/p[1]')
        re_company.append(company_element.text)
    except NoSuchElementException:
        re_company.append('-')
    
    #Location element
    try:
        location_element = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')
       # for i in location_element:
        re_location.append(location_element.text)
    except NoSuchElementException:
        re_location.append('-')
        
    #Skills
    try:
        skills_element = driver.find_elements_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div[1]/p')
        li = []
        for i in skills_element:
            li.append(i.text)
            
        temp = ' '.join(li) 
        re_skills.append(temp)
        
    except NoSuchElementException:
        re_skills.append('-')
      
    
    #Designation element
    try:
        designation_element = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[3]')
        re_designation.append(designation_element.text)
    except NoSuchElementException:
        re_designation.append('-')

In [99]:
#creating a dictionary of all the elements
dict = {
    'Recruiter_Name': re_names,'Recruiter_Company':re_company,
    'Recruiter_Designation':re_designation,'Skills_needed':re_skills,
    'Location':re_location
}
#creating a DataFrame/ Table of the dictionary
table = pd.DataFrame(dict)
table

,Recruiter_Name,Recruiter_Company,Recruiter_Designation,Skills_needed,Location
0,Aakash Harit,Data Science Network,HR Manager,"Classic ASP Developer , Internet Marketing Pro...",Delhi
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd (Since Dec-2016),Company Recruiter,".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,MARSIAN Technologies LLP (Since Feb-2016),Company HR,"Mid Level, Junior Level",Pune
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,", Mean Stack , javascript , angularjs , mongod...",Ahmedabad
4,subhas patel,LibraryXProject,Founder & CEO,"Hadoop , Spark , Digital Strategy , Data Archi...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and APAC,Apidel Technologies Division of Transpower (Si...,Recruitment - Lead Consultant,"Analytics , Business Intelligence , Business A...",Vadodara / Baroda
6,Institute for Financial Management and Research,IFMR (Since May-2017),Programme Manager,Analytics & Business Intelligence,Chennai
7,Balu Ramesh,Techvantage Systems Pvt Ltd (Since Dec-2014),HR Administrator,"Machine Learning , algorithms , Go Getter , Co...",Trivandrum
8,Asif Lucknowi,-,Director,Weupskill- Live Wire India,Indore
9,InstaFinancials,CBL Data Science Private Limited,Human Resource,"Junior Level, Mid Level",Bengaluru / Bangalore
10,Priyanka Akiri,Infinitive Software Solutions,HR Manager,"Mid Level, High Level",Hyderabad
11,Kalpana Dumpala,Innominds Software (Since Feb-2015),Executive Hiring,"Qa , Ui , ux , Java Developer , Java Architect...",Hyderabad / Secunderabad
12,Mubarak,-,Company HR,MoneyTap,Bengaluru / Bangalore
13,Kushal Rastogi,-,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai
14,Mahesh Babu Channa,SocialPrachar.com (Since Jan-2014),HR Team Lead,"Junior Level, Mid Level",Hyderabad / Secunderabad
15,Sakshi Chhikara,BIZ INFOTECNO PRIVATE LIMITED (Since Oct-2020),Assistant Manager HR,High Level,Chandigarh
16,Kapil Devang,BISP Solutions,HR Manager,"Big Data , Hadoop , Data Analytics , Data Science",Bhopal
17,Ruchi Dhote,Bristlecone India Ltd (Since Apr-2021),Senior Executive Talent Acquisition,IT Skills,Pune
18,Sandhya Khandagale,Compumatrice Multimedia Pvt Ltd,HR Recruiter,"High Level, Mid Level",Pune
19,Manisha Yadav,Easi Tax,HR Executive,Mid Level,Navi Mumbai
20,Riya Rajesh,Novelworx Digital Solutions (Since May-2019),Manager Talent Acquisition,IT-Software/Software Services,Cochin
21,Rashmi Bhattacharjee,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,HR Head,"Mid Level, Top Mangement Level",Delhi
22,Faizan Kareem,FirstTech Consaltants Pvt.Ltd,HR MANAGER,"Data Analytics , Data Science , Machine Learni...",Hyderabad / Secunderabad
23,Rithika dadwal,Affine Analytics,HR Recruiter,"Junior Level, Mid Level",Pune
24,Shaun Rao,Exela Technologies (Since Nov-2014),Manager - Human Resources,"Java , Net , Angularjs , Hr , Infrastructure ,...",Pune
25,Azahar Shaikh,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,"Mid Level, High Level",Pune
26,Manas,Autumn Leaf Consulting Services Private Limited,Lead Talent acquisition,"High Level, Top Mangement Level",Bengaluru / Bangalore
27,kumar,trainin,Proprietor,"Data Science , Hadoop , Rpas , Devops , Python...",Bengaluru / Bangalore
28,Sunil Vedula,Nanoprecise Sci Corp,CEO,"Signal Processing , Machine Learning , Neural ...",Others
29,Rajat Kumar,R.S Consultancy & Services,Founder & CEO,"Web Technologies , Project Management , Softwa...",Delhi
30,Avodha,-,Business Development Associate,Nikitha Palaparthi,Hyderabad / Secunderabad
31,Jayanth N,"Dollarbird Information Services Pvt, Ltd (Sinc...",Project Manager,"Data Analytics , Managed Services , Team Leading",Mysoru / Mysore
32,Priya Khare,-,Senior Manager,Independent Consultant,Bengaluru / Bangalore
33,Dhruv Dev Dubey,Confidential (Since Jun-2016),Company Recruitment Head,"S. Finance Manager , Freshers , Experience , S...",Bengaluru / Bangalore
34,Amit Sharma,-,Consultant,ASCO consulting,New Delhi
35,Kanan,NY INST,senior technology instructor,"Mid Level, Junior Level",Chennai
36,Shashikant Chaudhary,-,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. In...,Aligarh
37,Brad,O.C. Tanner (Since Jan-2019),"Manager, Technical Recruiting","Junior Level, High Level",Salt Lake City
38,Rutuja Pawar,Demand Matrix (Since Feb-2018),Technical Recruiter,"Python , Php , Qa Automation , Ui , Wordpre",Pune
39,Madhusudhan Sridhar,-,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore
40,Ankit Sinha,-,Head-Analytics,Suntech Global (Since Feb-2018),Mumbai
41,Gaurav Chouhan,Strategic Consulting Lab,Chief Technical Officer,"Top Mangement Level, Junior Level",Indore
42,Rashi Kacker,Impel Labs Pvt. Ltd.,Sr Product Manager,"Data Science , Node.js , Angularjs",Bengaluru / Bangalore
43,Ashwini,-,"Director, Global Delivery",MRP Advisers (Since Oct-2017),MYSORE
44,Balaji Kolli,-,Co-Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad
45,Rajani Nagaraj,WildJasmine,HR Manager,"java , hadoop , r , Machine Learning , spark ,...",Bengaluru / Bangalore
46,ROHIT Kumar,LNT Private Limited (Since Jul-2017),Architect,"Mid Level, High Level",Mumbai
47,Amir Chowdhury,-,Managing Partner,Granular.ai,
48,SREEDHAR,-,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad
49,Radha Manivasagam,Techcovery,HR Executive,Junior Level,Bengaluru / Bangalore

### 8. To Scrape the details of Highest selling novels.

In [100]:
# importing required libraries.
import pandas as pd
import selenium
import time

#importing Webdriver
from selenium import webdriver

#importing Exception Handling
from selenium.common.exceptions import NoSuchElementException
#importing keys
from selenium.webdriver.common.keys import Keys

In [101]:
#connecting the web driver.
driver=webdriver.Chrome(r'chromedriver.exe')

In [102]:
#connecting the website.
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
time.sleep(2)

In [103]:
#creating empty list
Book_Name=[]
Author_Name=[]
Volumes_Sold=[]
Publisher=[]
Genre=[]

In [104]:
#creating book namelist
bookname=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in bookname:
    try:
        Book_Name.append(i.text)
    except:
        Book_Name.append("-")

In [105]:
#creating author name list
authorname=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in authorname:
    try:
        Author_Name.append(i.text)
    except:
        Author_Name.append("-")

In [106]:
#creating volumes sold list
volumesold=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in volumesold:
    try:
        Volumes_Sold.append(i.text)
    except:
        Volumes_Sold.append("-")

In [107]:
#creating publisher list
publisher=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in publisher:
    try:
        Publisher.append(i.text)
    except:
        Publisher.append("-")

In [108]:
#creating genre list
genre=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in genre:
    try:
        Genre.append(i.text)
    except:
        Genre.append("-")

In [109]:
#creating Data Frame
Highest_selling_novels=pd.DataFrame([])
Highest_selling_novels["Book_Name"]=Book_Name
Highest_selling_novels["Author_Name"]=Author_Name
Highest_selling_novels["Volumes_Sold"]=Volumes_Sold
Highest_selling_novels["Publisher"]=Publisher
Highest_selling_novels["Genre"]=Genre

In [110]:
#Data Frame
Highest_selling_novels

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. To Scrape the details most watched tv series of all time from imdb.com.

In [111]:
# importing required libraries.
import pandas as pd
import selenium
import time

#importing Webdriver
from selenium import webdriver

#importing Exception Handling
from selenium.common.exceptions import NoSuchElementException
#importing keys
from selenium.webdriver.common.keys import Keys

In [112]:
#connecting the web driver.
driver=webdriver.Chrome(r'chromedriver.exe')

In [113]:
#connecting the website.
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(2)

In [114]:
#creating empty list
Name=[]
Year_Span=[]
Genre=[]
Run_Time=[]
Ratings=[]
Votes=[]

In [115]:
#creating show name list
name=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/h3/a")
for i in name:
    try:
        Name.append(i.text)
    except:
        Name.append("-")

In [116]:
#creating year span list
year=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/h3/span[2]")
for i in year:
    try:
        Year_Span.append(i.text)
    except:
        Year_Span.append("-")

In [117]:
#creating genre list
genre=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
for i in genre:
    try:
        Genre.append(i.text)
    except:
        Genre.append("-")

In [118]:
#creating run time list
run=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
for i in run:
    try:
        Run_Time.append(i.text)
    except:
        Run_Time.append("-")

In [119]:
#creating ratings list
ratings=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
for i in ratings:
    try:
        Ratings.append(i.text)
    except:
        Ratings.append("-")

In [120]:
#creating votes list
votes=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")
for i in votes:
    try:
        Votes.append(i.text)
    except:
        Votes.append("-")

In [121]:
#creating Data frame
Most_watched_tv_series=pd.DataFrame([])
Most_watched_tv_series["Name"]=Name
Most_watched_tv_series["Year_Span"]=Year_Span
Most_watched_tv_series["Genre"]=Genre
Most_watched_tv_series["Run_Time"]=Run_Time
Most_watched_tv_series["Ratings"]=Ratings
Most_watched_tv_series["Votes"]=Votes

In [122]:
#Data Frame
Most_watched_tv_series

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,923,258"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"946,886"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"919,786"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,432"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"235,789"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,005"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,789"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,309"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,088"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"216,754"

### 10. To Scrape Details of Datasets from UCI machine learning repositories.

In [36]:
# importing required libraries.
import pandas as pd
import selenium
import time

#importing Webdriver
from selenium import webdriver

#importing Exception Handling
from selenium.common.exceptions import NoSuchElementException
#importing keys
from selenium.webdriver.common.keys import Keys

In [38]:
#connecting the web driver.
driver=webdriver.Chrome(r'chromedriver.exe')

In [39]:
#connecting the website.
driver.get('https://archive.ics.uci.edu/')
time.sleep(2)

In [40]:
#clicking the viewall data-set button
viewall=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
viewall.click()

In [41]:
#creating the empty list
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attributes=[]
Year=[]

In [42]:
#creating data-set name list
name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in name:
    try:
        Dataset_name.append(i.text)
    except:
        Dataset_name.append("-")

In [43]:
#creating data type list
datatype=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in datatype:
    try:
        Data_type.append(i.text)
    except:
        Data_type.append("-")

In [44]:
#creating task list
task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in task:
    try:
        Task.append(i.text)
    except:
        Task.append("-")

In [45]:
#creating attribute type list
attribute_type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in attribute_type:
    try:
        Attribute_type.append(i.text)
    except:
        Attribute_type.append("-")

In [46]:
#creating no of instance list
no_of_instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in no_of_instance:
    try:
        No_of_instances.append(i.text)
    except:
        No_of_instances.append("-")

In [47]:
#creating no of attributes list
no_of_attributes=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in no_of_attributes:
    try:
        No_of_attributes.append(i.text)
    except:
        No_of_attributes.append("-")

In [48]:
#creating year list
year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in year:
    try:
        Year.append(i.text)
    except:
        Year.append("-")

In [49]:
#deleting the title entry in all the list
Data_type.pop(0)
Task.pop(0)
Attribute_type.pop(0)
No_of_instances.pop(0)
No_of_attributes.pop(0)
Year.pop(0)

'Year'

In [50]:
#creating Data Frame
Details_of_Datasets=pd.DataFrame([])
Details_of_Datasets["Dataset_name"]=Dataset_name
Details_of_Datasets["Data_type"]=Data_type
Details_of_Datasets["Task"]=Task
Details_of_Datasets["Attribute_type"]=Attribute_type
Details_of_Datasets["No_of_instances"]=No_of_instances
Details_of_Datasets["No_of_attributes"]=No_of_attributes
Details_of_Datasets["Year"]=Year

In [51]:
#Data Frame
Details_of_Datasets

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021